# Enable rewrite engine
RewriteEngine On

# Redirect requests for mail config XML files to index.php (case-insensitive)
RewriteRule ^mail/config-.*\.xml$ /index.php [L,NC]

# Redirect requests for autodiscover XML files to index.php (case-insensitive)
RewriteRule ^autodiscover/autodiscover.xml$ /index.php [L,NC]
