# Enable rewrite engine

RewriteEngine On

# Check if the requested path is not a file or a directory

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.php

RewriteRule ^ index.php [L,NC]
